

body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}

section.wrappers
{
    text-align: center;
    float: right;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(64, 168, 73);
}

div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}

section.wrappers
{
    text-align: center;
    float: right;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(64, 168, 73);
}

table{
    width: 30vw;
    float: left;
}
.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    }
    
    .button:hover {
    background-color: #3F3F3F;
    }
    
    .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
    }
    
    .red {
    color: #FF0000;
    }
    
    .green {
    color: #00FF00;
    }
    
    .blue {
    color: #0000FF;
    }
    
    .yellow {
    color: #FFFF00;
    }
    
    .round {
    border-radius: 50%;
    }
#joy{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 20px;
    bottom: 200px;
    outline: 5px rgb(0, 0, 0) solid;
    background-color: beige;
}

div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

  }
